html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.marginTop {
    position: relative;
    top: 59px;
}

.img {
    width: 100%;
    height: 70px;
    background-color: black;
}

.img > img{
    width: 100%;
    height: 100%;
}

.imgDashbord{
    width: 100%;
    height: 150px;
    background: no-repeat center;
    background-size: cover;  
    object-fit: scale-down;
}